@import '~open-color';

$side_bar_color: #252526;
$side_bar_hover_color: #2a2d2e;
$side_nav_color: #333333;
$header_color: #3f3f41;
$tab_bcg_color: #2d2d2d;
$main_color: #1e1e1e;
$footer_color: $oc-blue-8;
$blue_text: $oc-blue-6;
$active_dot_color: #476b56;
$active_title_color: #68c977;
$default_text_color: $oc-gray-4;
