@import '../../styles/_variables.scss';

.side_bar {
	width: 200px;
	background-color: $side_bar_color;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	user-select: none;
	@media screen and (max-width: 900px) {
		display: none;
	}

	.side_bar_outline {
		@include header_text;
		font-size: 0.85rem;
		font-weight: 500;
		display: flex;
		align-items: center;

		.extend_input {
			background-color: #3c3c3c;
			border: solid 1px transparent;
			width: 100%;
			margin-bottom: 10px;
			&:focus {
				outline: none;
				border: solid 1px $oc-blue-8;
			}
		}
	}

	.extend_input_cntr {
		padding: 0 10px;
		justify-content: center;
	}

	.tab_name_cntr {
		height: $tab_height;
		padding: 0 20px;
		justify-content: space-between;

		.tab_name {
			height: 100%;
			line-height: 35px;
			margin-left: 3px;
		}

		& > .icon {
			font-size: 1.2rem;
		}
	}

	.tab_item_cntr {
		height: $tab_item_height;
		gap: 5px;
		padding: 0 5px;
		border-top: solid 0.1rem $side_nav_color;
		color: $default_text_color;
	}

	.active {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.study_side_item {
		color: $default_text_color;
		padding: 10px 20px;
		.study_side_btn {
			width: 100%;
			font-size: 0.9rem;
			border: none;
			background-color: $oc-blue-9;
			text-align: center;
			cursor: pointer;
			margin-bottom: 10px;
			&:hover {
				background-color: $oc-blue-8;
			}
		}

		.study_side_btn_desc {
			font-size: 0.9rem;
		}
	}

	.contact_side {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		height: 100%;
		margin-top: 100px;
		gap: 20px;
		position: relative;
		.contact_side_desc {
			color: $default_text_color;
		}

		.contact_side_spin {
			position: absolute;
			top: 32px;
			left: 64px;
		}
	}
}
