@import '../../styles/_variables.scss';

.content_row_cntr {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.content_row {
		height: 22px;
		width: 100%;
		display: flex;
		align-items: center;
		color: $default_text_color;
		font-weight: 300;

		.icon {
			width: 18px;
			margin-right: 7px;
		}
		.arrow {
			font-size: 0.85rem;
			margin-right: 5px;
		}
		.space {
			width: 15px;
		}
	}

	.dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: $active_dot_color;
	}
}
