@import '../../styles/_variables.scss';

.extend_row {
	display: flex;
	padding: 10px;
	color: $default_text_color;

	.extend_content {
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
