@import '../../styles/_variables.scss';

.study_item {
	.study_name {
		display: flex;
		gap: 10px;
		.study_icon {
			width: 30px;
			height: 30px;
		}
		.link_icon {
			width: 25px;
			height: 25px;
		}
	}
}
