@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Roboto:300:400,500');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import './styles/_variables.scss';

html,
body {
	font-size: $normal-font-size;
	height: 100%;
	margin: 0;
}

* {
	font-family: 'Roboto', 'Noto Sans KR', Arial, sans-serif;
	box-sizing: border-box;
}

#root,
.app {
	height: fit-content;
	background-color: $main_color;
}

.middle {
	display: flex;
	height: calc(100% - 52px);
}

aside {
	max-width: 300px;
	display: flex;
	top: 30px;
	left: 0;
	position: fixed;
	height: calc(100% - 52px);
	z-index: 2;
}

.main_container {
	background-color: $main_color;
	flex-grow: 1;
	margin-left: 50px;
	height: fit-content;
	@media screen and (min-width: 901px) {
		margin-left: 241px;
	}
}

main {
	margin: 0 auto;
	max-width: 1000px;
	padding-top: 65px;
}

footer {
	height: 22px;
	padding: 0 10px;
	background-color: $footer_color;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	color: white;
	z-index: 2;
}
